.loginForm-container {
  font-size: 20px;
  font-family: Tahoma;
  margin: 0 auto;
  width: 100%;
  max-width: 350px;
}

.loginForm-container .loginForm__label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.loginForm-container .loginForm__input {
  margin-right: 0;
}

.loginForm-container .loginForm__input {
  border: 1px solid #cccccc;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -khtml-border-radius: 3px;
  background: #ffffff !important;
  outline: none;
  height: 40px;
  width: 200px;
  color: #cccccc;
  font-size: 18px;
  font-family: Tahoma;
  padding-left: 10px;
}

.loginForm-container .loginForm__input:focus {
  color: #201e1e;
  border: 1px solid #464343
}

.loginForm-container .loginForm__input:hover {
  color: #201e1e;
  border: 1px solid #464343
}

.loginForm-container .loginForm__button {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.loginForm-container .loginForm__button .loginForm__button_item {
  flex-basis: 50px;
}

.loginForm-container .loginForm__areaError {
  width: 100%;
  max-width: 200px;
  height: 100%;
  max-height: 50px;
}