
.commonForm__label {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5px 0;
}

.commonForm__input {
  border: 1px solid #cccccc;
  border-radius: 3px;
  outline: none;
  height: 40px;
  width: 200px;
  color: #cccccc;
  font-size: 18px;
  padding-left: 10px;
  font-family: inherit;
  transition: border 0.5s
}

.commonForm__input.error {
  border: red solid 1px;
}

.commonForm__input:focus {
  color: #201e1e;
  border: 1px solid #464343;
}

.commonForm__input:hover {
  color: #201e1e;
  border: 1px solid #464343
}

.loginForm__button_item {
  text-transform: uppercase;
  height: 44px;
  width: 212px;
  text-align: center;
  background-color: #C0C0C0;
  border: 1px solid #C0C0C0;
  border-radius: 3px;
  font-family: inherit;
  margin: 5px 0;
  color: rgba(1,1,1,0.7);
}

.error-message {
  margin: 5px 0;
  color: red;
  font-size: 14px;
}