.registrationForm-container {
  font-family: Tahoma;
  width: 25em;
  height: 25em;
  background-color: #FFFFFF;
  border-radius: 0.2em;
  box-shadow: 0 0 0.6em rgba(0,0,0,0.5);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 1.3em 0;
  color: rgba(1,1,1,0.7);
}