.userList-container {
  font-family: Tahoma;
  font-size: 16px;
  font-family: Tahoma;
  width: 350px;
  height: 500px;
  /* width: 35%;
  height: 60%; */
  background-color: #FFFFFF;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  color: rgba(1,1,1,0.7);
  padding: 20px;
}

.headerList {
  align-self: flex-start;
}

.logout-button {
  text-transform: uppercase;
  height: 44px;
  width: 212px;
  text-align: center;
  background-color: #C0C0C0;
  border: 1px solid #C0C0C0;
  border-radius: 3px;
  font-family: inherit;
  margin: 5px 0;
  color: rgba(1,1,1,0.7);
  margin-top: auto;
}


.userList-list {
  width: 90%;
  height: 80%;
  list-style-type: none;
  padding: 20px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 15px;
  scrollbar-width: none;
}

.userList-list::-webkit-scrollbar {
  display: none;
  width: 0 !important 
}

.Main {
  display: flex;
  justify-content: space-between;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  border-radius: 3px;
  margin: 5px;
  background-color: rgba(1,1,1,0.06);
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.data {
  align-self: center;
  width: 70%;
}
.data > div, 
.data > span {
  margin: 5px 0;
}

.logoProfile {
  width: 50px;
  height: 50px;
}

.logoEmail {
  display: flex;
  height: 15px;
}

.email {
  display: flex;
  flex-wrap: nowrap;
}
.email > img{
  margin: 0 5px 0 0;
}

.line {
  border-bottom: 1px solid  #C0C0C0;
  margin: 10px 0;
 }

.name {
  font-size: 25px;
}